.container-fluid{
    padding: 0px;
}
.row{
    margin: 0px;
    background-image: url("row-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#Macro-title{
    color: rgb(255, 255, 255);
    font-size: 500%;
    padding: 1%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.card-content{
    margin: auto;
}
.image{
    margin: auto;
    padding: 1%;
    object-fit: cover;
}
.col-md-6,.col-md-12{
    margin: 0 auto;
    padding: 5%;
}
/********************Footer styles*******************************************/
footer{
    background-color: black;
}
#con-w-me{
    margin: auto;
    font-size: 200%;
    color: white;
}
.icons{
    height: 5%;
    width: 5%;
    margin: 0 2% 2% 2%;
}
#media{
    display: block;
    margin: auto;
}
hr{
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}

/********************************576PX*********************************/
@media(max-width:576px){
    #Macro-title{
        color: rgb(255, 255, 255);
        font-size: 200%;
        padding: 1%;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
    .col-md-6,.col-md-12{
        margin: 0 auto;
        padding: 1% 3% 1% 3%;
        
    }
    .icons{
        height: 5%;
        width: 5%;
        margin: 0 2% 2% 2%;
    }
    #con-w-me{
        margin: auto;
        font-size: 100%;
        color: white;
    }
}

/********************************768PX*********************************/
@media(min-width:576px) and (max-width:768px){
    #Macro-title{
        color: rgb(255, 255, 255);
        font-size: 250%;
        padding: 1%;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
}
/********************************Loader*********************************/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 9999;
    background: rgb(0, 0, 0);
    margin: 0%;
}
.loader:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.loader .spinner-frame {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 5px solid #fff;
    padding: 10px;
}
.loader .spinner-frame .spinner-cover {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.loader .spinner-frame .spinner-bar {
    background: #29d;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    -webkit-animation: spinny 2s linear infinite;
    transform-origin: 100% 100%;
}
@-webkit-keyframes spinny {
    0% {
        transform: rotate(0deg);
        background: #29d;
    }
    50% {
        transform: rotate(180deg);
        background: #00427c;
    }
    100% {
        transform: rotate(360deg);
        background: #29d;
    }
}
