.container-fluid{
    padding: 0px;
}
.row{
    margin: 0px;
    background-image: url("row-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#section-title{
    color: rgb(255, 255, 255);
    font-size: 500%;
    padding: 1%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.card-content{
    margin: auto;
    object-fit:cover;
}
.image{
    margin: auto;
    padding: 1%;
    object-fit: cover;
}
.col-12,.col-6{
    margin: 0 auto;
    padding: 5%;
}

/********************************576PX*********************************/
@media(max-width:576px){
    #section-title{
        color: rgb(255, 255, 255);
        font-size: 170%;
        padding: 1%;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
    .col-6,.col-12{
        margin: 0 auto;
        padding:4% 2% 4% 2%;        
    }
}

/********************************768PX*********************************/
@media(min-width:576px) and (max-width:1085px){
    #section-title{
        color: rgb(255, 255, 255);
        font-size: 250%;
        padding: 1%;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
}